*{
    margin: auto;
    padding: 0px;
    box-sizing: border-box;
    color: brown
   }

body{
background: rgb(224,217,211);
background: linear-gradient(0deg, rgba(224,217,211,1) 0%, rgba(190,142,120,1) 100%);
    
}
.contenedor{
    display: flex;
    background: #be8e78;

}
.logo{
    width: 200px;
}
.coffeeshop{
    font-size: 3.5em;
    font-style: oblique;
    font-family: fantasy;
    color: #e0d9d3;

}
.barranav{
padding-top: 37px;
color:#e0d9d3
}

.menu{
    color: #e0d9d3;
    text-decoration: none;
    font-family: fantasy;
    padding: 2px 30px 2px 30px;
    font-size: x-large;
    border-radius: 10px;
}
.menu:hover{
    background-color: palevioletred;
    color: rgba(140, 62, 62, 0.871)
}
.foto{
    width: 180px;
    
}
.wrap{
    width:50%;
    height: fit-content;
    padding: 35px;
    
}
.marco{
    width: 200px;
    height: fit-content;
    grid-column: 3;
    grid-template-areas: 3;
    justify-content: space-between;

}
.container{ 
    width: 50%;
    text-align: center;
    display: flex;
    align-items: center;
}
.galery{
    display: flex;
}
.wdt33{
    width: 33%;
    padding-left: left 35px;
}
.boton{
    margin-top: 40px;
    padding: 5px;
    border-radius: 8px;
    color: brown;
}
.boton:hover{
    background-color: palevioletred;
    color: white

}
.promo{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 80%;
}
recetario{
    padding-left: 25px;
}